@import "./home.css";
@import "./quiz.css";

/* RESET */
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: inherit;
    text-decoration: none;
    list-style: none;
    color: inherit;
}

html {
    --preto: #222;
    --branco: #F4F4F4;
    --amarelo: #DA2;
    --marrom: #850;
    --amarelo_opaco: #D9BA68;
    scroll-behavior: smooth;
}

/* Geral */
body {
    font-family: sans-serif;
    color: var(--preto);
}

img {
    max-width: 100%;
    display: block;
}

.titulo {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: var(--amarelo);
}

strong {
    font-size: inherit;
}

.titulo::after {
    content: "";
    width: 40px;
    height: 2px;
    margin: 0.5rem auto 0;
    background-color: currentColor;
    display: block;
}

.btn {
    border: none;
    border-radius: 30px;
    padding: 0.875rem;
    margin: 1.5rem auto 0;
    text-transform: uppercase;
    color: var(--branco);
    background-color: var(--amarelo);
    box-shadow: 4px 4px 0 var(--marrom);
    display: inline-block;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    box-shadow: 2px 2px 0 var(--marrom);
}