/* RESET */
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: inherit;
    text-decoration: none;
    list-style: none;
    color: inherit;
}

html {
    --preto: #222;
    --branco: #F4F4F4;
    --amarelo: #DA2;
    --marrom: #850;
}

body {
    font-family: sans-serif;
    color: var(--preto);
    background-color: #FFF;
}

img {
    max-width: 100%;
    display: block;
}

/* Header */
header {
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(34, 34, 34, 0.2);
}

.menu li {
    display: inline-block;
}

.menu li + li {
    margin-left: 1rem;
}

.menu a {
    padding: 0.5rem;
    font-size: 1.125rem;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: var(--amarelo);
}

@media (max-width: 740px) {
    header {
        padding: 1.5rem 1rem;
        flex-direction: column;
        justify-content: center;
    }

    header h1 {
        margin-bottom: 1rem;
    }

    .menu a {
        font-size: 1rem;
    }
}

/* Introdução */
.intro {
    padding: 3rem 0;
}

.intro .img_container {
    width: 220px;
    margin: 0 auto;
}

.intro h1 {
    max-width: 460px;
    margin: 1.5rem auto 0;
    font-size: 1.5rem;
    text-align: center;
}

@media (max-width: 740px) {
    .intro h1 {
        max-width: 320px;
        font-size: 1.25rem;
    }
}