/* RESET */
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: inherit;
    text-decoration: none;
    list-style: none;
    color: inherit;
}

html {
    --preto: #222;
    --branco: #F4F4F4;
    --amarelo: #DA2;
    --marrom: #850;
}

body {
    font-family: sans-serif;
    color: var(--preto);
    background-color: #FFF;
}

img {
    max-width: 100%;
    display: block;
}

.titulo {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: var(--amarelo);
}

span {
    font-size: inherit;
}

.titulo::after {
    content: "";
    width: 40px;
    height: 2px;
    margin: 0.5rem auto 0;
    background-color: currentColor;
    display: block;
}

/* Header */
header {
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(34, 34, 34, 0.2);
}

.menu li {
    display: inline-block;
}

.menu li + li {
    margin-left: 1rem;
}

.menu a {
    padding: 0.5rem;
    font-size: 1.125rem;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: var(--amarelo);
}

@media (max-width: 740px) {
    header {
        padding: 1.5rem 1rem;
        flex-direction: column;
        justify-content: center;
    }

    header h1 {
        margin-bottom: 1rem;
    }

    .menu a {
        font-size: 1rem;
    }
}

/* Introdução */
.intro {
    padding: 3rem 0;
}

.intro .img_container {
    width: 220px;
    margin: 0 auto;
}

.intro h1 {
    max-width: 460px;
    margin: 1.5rem auto 0;
    font-size: 1.5rem;
    text-align: center;
}

@media (max-width: 740px) {
    .intro h1 {
        max-width: 320px;
        font-size: 1.25rem;
    }
}

/* Sobre */
#sobre {
    padding: 1.5rem 0;
    background: linear-gradient(170deg, #FFF 35%, var(--preto) 35%);
}

#sobre .container {
    max-width: 700px;
    margin: 1.5rem auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sobre .img_container {
    width: 340px;
    border-radius: 6px;
    box-shadow: 2px 2px 4px rgba(34, 34, 34, 0.4);
    overflow: hidden;
}

#sobre .paragrafos {
    max-width: 340px;
    color: var(--branco);
}

#sobre .paragrafos p {
    font-size: 1.125rem;
}

#sobre .paragrafos p + p{
    margin-top: 1.5rem;
}

#sobre .amarelo {
    color: var(--amarelo);
}

@media (max-width: 740px) {
    #sobre .container {
        flex-direction: column;
    }

    #sobre .img_container, #sobre .paragrafos {
        max-width: 300px;
    }

    #sobre .img_container {
        margin-bottom: 1.5rem;
    }
}