<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- JavaScript -->
    <script src="js/vue.min.js"></script>
    <script src="js/app.js" type="module" defer></script>
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <title>Entrevista com Sr. Batata</title>
</head>
<body>
    <div id="App" class="quiz">
        <section class="inicio" v-if="telaAtual === 'inicial'" key="inicial">
            <h1><img src="./img/logo-entrevista.svg" alt="Entrevista com Sr. Batata"></h1>

            <div class="img_container">
                <img src="./img/srbatata.gif" alt="Sr. Batata">
            </div>

            <button class="btn" @click="telaAtual = 'intro'">Começar</button>
        </section>

        <section class="intro" v-if="telaAtual === 'intro'" key="intro">
            <p>Está aberto o processo seletivo para trabalhar na maior empresa de batata do mundo.</p>
            <p>Você acha que tem o que é preciso para ser um dos novos funcionários das Industrias Batata's?</p>
            <p>Pois então venha testar seus conhecimentos numa jornada incrível e além da imaginação.... em uma entrevista com o Sr. Batata.</p>
            <button class="btn" @click="telaAtual = 'perguntas_1'">Continuar</button>
        </section>

        <pergunta
            v-for="({ numero, pergunta, alternativas }) in perguntas"
            :key="numero"

            :pergunta="pergunta"
            :alternativas="alternativas"
            :numero="numero"
            :tela_atual="telaAtual"

            @trocar_tela="atualizar_tela"
        ></pergunta>

        <section class="feedback" v-if="telaAtual === 'feedback'" key="feedback">
            <h1 class="ganhou">Parabéns!!!!</h1>

            <p>Sr. Batata gostou de sua entrevista e irá te receber nas Industrias Batata´s</p>

            <button class="btn">Jogar outa vez</button>
        </section>
    </div>
</body>
</html>